APP_HOST: "127.0.0.1"
APP_PORT: "8080"
IDLE_CONNECTION_TIMEOUT_IN_MINUTES: 5

ENV: "dev"

NEW_RELIC_APP_NAME: "stories"
NEW_RELIC_LICENSE_KEY: "fakefakefakefakefakefakefakefakefakefake"

STATSD_HOST: "127.0.0.1"
STATSD_PORT: "8125"
STATSD_NAMESPACE: "stories"

DB_NAME: "storiesdb"
DB_HOST: "127.0.0.1"
DB_PORT: "5432"
DB_USER: "storiesuser"
DB_PASSWORD: "storeisdbpassword"
DB_MAX_OPEN_CONNECTIONS: "15"
DB_MAX_IDLE_CONNECTIONS: "15"
DB_CONNECTION_MAX_LIFETIME_IN_MIN: "5"

TITLE_MAX_LENGTH: "100"
BODY_MAX_LENGTH: "100000"

CACHE_TITLE: "true"
CACHE_BODY: "true"